<div class="card">
  <div class="card-header">
  <h4>  {{ title }}</h4>
  </div>
  <div class="card-body">
    {{ content }}
     <h6>{{content3}}</h6>
      {{ content2 }}

      <button style="float: right; background-color: rgb(196, 215, 232); color: black;" class="btn btn-primary" (click)="handleButtonClick()">View Details</button>
      <button style="float: right; background-color: blue; color: aliceblue;" class="btn btn-primary" (click)="handleButtonClick()">Book Now</button>
  </div>

</div>
